body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.styled-scrollbar {
  height: 100%;
  overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #707383 #33374e;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
  margin-right: 2px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #33374e;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #707383;
  border-radius: 3px;
}